* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
	overflow-x: hidden;
	font-size: 10px;
	font-family: 'NotoSans_R';
	word-break: keep-all;
}
ul, ol, dl {
  list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	vertical-align: top;
	text-decoration: none;
	color: #000000;
}
i, em, address {
	font-style: normal;
	font-weight: normal;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: transparent;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.logo a{
	font-size: 32px;
	color: #fff;
	font-weight: 700;
}
.menu ul{
	display: flex;
	align-items: center;
}
.menu ul li a{
	padding: 5px 16px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
}
.menu ul li a:hover,
.menu ul li a.active{
	color: #35282b;
}


.banner {
	position: relative;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  width: 800px;
  height: 800px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -350px;
	right: -300px;
  flex-shrink: 0;
  transition: all 1s;
	transform: rotate(135deg);
}

.slide {
  width: 21rem;
  position: absolute;
}

.slide:nth-child(1) {
  bottom: -10rem;
	transform: rotate(-135deg);
}

.slide:nth-child(2) {
  left: -10rem;
	transform: rotate(-45deg);
}

.slide:nth-child(3) {
  top: -10rem;
	transform: rotate(45deg);
}

.slide:nth-child(4) {
  right: -10rem;
	transform: rotate(135deg);
}

.slide.active img {
  transform: scale(2.5);
  transition: transform 0.5s 0.5s;
}

.slide img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.controls {
  position: absolute;
	left: 10%;
  bottom: 5rem;
}
.controls ul{
	display: flex;
	align-items: center;
}
.controls ul li{
	margin-right: 10px;
}
.controls ul li:last-child{
	margin-right: 0;
}
.controls a {
	position: relative;
	padding: 0 10px 14px;
  cursor: pointer;
}

.controls a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
  width: 100%;
	height: 4px;
	border-radius: 4px;
	opacity: 0;
	background: #fff;
}
.controls a.active:before{
	opacity: 1;
	animation: control_active ease .5s;
}
@keyframes control_active {
	0%{width: 0;}
	100%{width: 100%;}
}

.controls img {
  width: 6rem;
}
.image_items{
	position: absolute;
	width: 50%;
	top: 20%;
	left: 10%;
}
.image_item{
	position: absolute;
	width: 500px;
	font-size: 20px;
	color: #fff;
	display: none;
	transition: all 1s;
}
.image_item.active{
	display: block;
	animation: image_active ease 1s;
}
@keyframes image_active {
	0%{font-size: 10px;}
	100%{font-size: 20px;}
}
.image_item img{
	width: 100%;
}